<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceName" value="LJC.com.LogService"/>
    <add key="ServiceDisplayName" value="日志记录服务"/>
    <add key="ServiceDescription" value="日志记录服务"/>
    <add key="LogServicePort" value="19997"/>
    <add key="LogFileDir" value="D:\Work\NetLogFile\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
