<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ServiceName" value="LJC.com.LogService"/>
    <add key ="ServiceDisplayName" value ="日志记录服务"/>
    <add key ="ServiceDescription" value ="日志记录服务"/>
    <add key ="LogServicePort" value ="19997"/>
  </appSettings>
</configuration>