<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ServiceName" value="LJC.com.ExeDog"/>
    <add key ="ServiceDisplayName" value ="程序守护者"/>
    <add key ="ServiceDescription" value ="程序守护者"/>
    <add key="WatchExeList" value ="E:\开发工具\数据库助手new\NETDBHelper -mysql\NETDBHelper\bin\Debug\NETDBMysqlHelper.exe"/>
  </appSettings>
</configuration>